<script setup>

import LangSwitcher from "./LangSwitcher.vue";
</script>

<template>
    <div class="w-full h-12 bg-green-200 flex justify-center items-center">
        <LangSwitcher/>
    </div>
</template>

<style scoped>

</style>