<script setup>
import Header from "../components/Header.vue";
</script>

<template>
    <Header/>
    <div class="w-full h-screen flex justify-center items-center">
        <router-view/>
    </div>
</template>

<style scoped>

</style>